.container{
display: grid;
grid-template-areas:
'header'
'main'
'footer';
gap: 10px;
/* background-image: url("/images/background.jpg"); */
}

.container > div{
    border-radius: 10px;
    /* background-color: antiquewhite; */
}
.header{
    grid-area: header;
    text-align: center;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    text-align: center;
    flex-wrap: wrap;
}



