.container{
display: grid;
grid-template-areas:
'header'
'main'
'footer';
gap: 10px;
}

.container > div{
    border-radius: 10px;
    background-color: antiquewhite;
}
.header{
    grid-area: header;
    text-align: center;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    text-align: center;
    flex-wrap: wrap;
}



