.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
}
.painters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
