<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/painting.css">
    <title>Painting</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Path of Art</h1>
    </div>
        <div class="main">
            <h3 class="reviewtitle">Review</h3>
            <h2 class="title" th:text="${painting.title}"></h2>
            <div class="reviews">
                <img class="image" th:src="${painting.imgUrl}"
                     th:alt="${painting.title}">
                <ul class="reviewinginfo">
                    <li>
                        <form th:action="'/paintings/' +${painting.id}" method = "POST">
                            <label for="name">Full Name:</label><br>
                            <input type="text" id="name" name="name" placeholder="John Doe"><br>
                            <label for="review">Enter Comment Below</label><br>
                            <textarea id="review" name="comment" rows="4" cols="50"></textarea><br>
                            <label for="review">Rate the painting (1: did not like it, 5: loved it):</label><br>
                            <input type="review" id="rating" name="rating"><br>
                            <input type="submit" value="Submit">
                        </form>
                    </li>
                </ul>
            </div>
    </div>

        <div class="footer">
            <p>Thank you for visiting our page</p>
        </div>
    </div>
</body>

</html>